<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{!-- LOGIN CODE OVER HERE --}}
    <form class="form login-form">
        <div class="form-group">
            <label for="fname">First Name:</label>
            <input class="form-control" id="signup-fname" type="text" name="fname">
        </div>
        <div class="form-group">
            <label for="lname">Last Name:</label>
            <input class="form-control" id="signup-lname" type="text" name="lname">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" id="signup-email" type="text" name="email" placeholder="name@example.com" id="email-login">
        </div>
        <div class="form-group">
            <label for="password">Password:</label><br>
            <input class="form-control" id="signup-password" type="password" name="password" id="email-login"><br>
        </div>
</form>
    <p>Here will be the login form according to the auth.js's loginFormHandler Function</p>
    <script src="./scripts/login.js"></script>
</body>
</html>